/* Login.css */
.day-background {
  background-image: url('../img/loginbg1.png');
  transition: background-image 0.5s ease-in-out;
}

.night-background {
  background-image: url('../img/loginbg2.png');
  transition: background-image 0.5s ease-in-out;
}
